.DS_Store
*.iml
*.apk
*.jks
*.keystore
*.pem
*.crt
*.cer
*.log
*.tmp
*.swp

.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
.VolumeIcon.icns
.fseventsd
.com.apple.timemachine.donotpresent
__MACOSX/

.gradle/
**/build/
**/buildSrc/.gradle/
!gradle-wrapper.jar
.gradle-cache/

.idea/
*.iws
*.ipr
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/misc.xml
.idea/gradle.xml

*.kotlin_module

/test-results/
coverage/
**/build/test-results/
**/build/outputs/
**/build/kover/

**/build/generated/
**/build/intermediates/
**/build/tmp/
**/build/kotlin/
**/build/ksp/
**/build/kspCaches/
**/build/compileDebugKotlin/
**/build/compileReleaseKotlin/
**/build/outputs/apk/
**/build/outputs/mapping/


*.json
!motsy.json
*.snap
*.dump
**/security_log.json
docs/images/*.backup.*
docs/images/*.tmp.*

*.preview-cache/

*.testlog
test-output/

*.sh~
*.bak
*.retry
/app/release/baselineProfiles/1/app-release.dm
/app/release/baselineProfiles/0/app-release.dm
/local.properties
